  <div class="row">
        <div class="col-md-6">
          <h2>Add A Pet!</h2>
      
          <form class="form pet-form">
            <div>
              <label for="new-pet">Pet name:</label>
              <input class="pet-form-input" type="text"/>
            </div>
            <div class="form-group">
                <label for="sex">Sex:</label>
                <select name="sex" id="sex">
                  <option value="female">Female</option>
                  <option value="male">Male</option>
                </select>
            </div>
            <div class="form-group">
                <label for="species">Species:</label>
                <select name="species" id="species">
                  <option value="dog">Dog</option>
                  <option value="cat">Cat</option>
                </select>
            </div>
            <div class="form-group">
              <label for="new-pet">Breed:</label>
              <input class="pet-form-input" type="text"/>
            </div>
            <div class="form-group">
              <label for="new-pet">Description</label>
              <textarea class="pet-form-input" type="text"></textarea>
            </div>
            <div class="form-group">
              <label for="new-pet">Image</label>
              <textarea class="pet-form-input" type="text" id=""></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </form>
        </div>

<script src="./js/login.js"></script>
