#description-box {
    border: 2px solid #1b89bc;
    border-radius: 25px;
    padding: 1%;
    margin-bottom: 1%;
}

#logout,
#add,
#login-btn {
    padding: 2px;
    color: #1b89bc;
    border: 1px solid #1b89bc;
    border-radius:10px;
    font-weight: bold;
}

body {
  background-repeat: no-repeat;
  background-image: url("../images/pets_background.png");
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}
#title {
  color: red;
  margin-bottom: 10px;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--dark-blue);
  color: var(--white);
}
